# Ignore DEBUG issues. These tend to be things like Bazel ignoring Python toolchains
# in third-party tools, or telling us that our Renovate-upgraded deps could be using
# a more canonical hash.
common --ui_event_filters=-DEBUG

# TODO(DX-231): Disable module lock for now
common --lockfile_mode=off

# Compile curl with openssl
build --@curl//:ssl_lib="openssl"
# Compile grpc with openssl
build --@grpc//third_party:grpc_use_openssl=True

# Use our hermetic toolchain
build --incompatible_enable_cc_toolchain_resolution
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --host_platform=//tools/platform:host-clang

# Disable warnings on third-party code
build --per_file_copt=^bazel-out/.*/bin/external/,^external/@-w
build --host_per_file_copt=^bazel-out/.*/bin/external/,^external/@-w

# Output test errors to stderr so users don't have to `cat` or open test failure log files when tests
# fail. This makes the log noisier in exchange for reducing the time-to-feedback on test failures for
# users.
# Docs: https://bazel.build/docs/user-manual#test-output
common --test_output=errors

# Don't show all the tests that pass, only show the ones that failed.
# This means you don't have to scroll up so very far when you're trying to figure out why CI failed.
# Docs: https://bazel.build/docs/user-manual#test-summary
common --test_summary=terse

# Use a static value for `PATH` and does not inherit `LD_LIBRARY_PATH`. Doesn't let environment
# variables like `PATH` sneak into the build, which can cause massive cache misses when they change.
# Use `--action_env=ENV_VARIABLE` if you want to inherit specific environment variables from the
# client, but note that doing so can prevent cross-user caching if a shared cache is used.
# Docs: https://bazel.build/reference/command-line-reference#flag--incompatible_strict_action_env
build --incompatible_strict_action_env

# Don't allow network access for build actions in the sandbox.
# Ensures that you don't accidentally make non-hermetic actions/tests which depend on remote
# services.
# Developers should tag targets with `tags=["requires-network"]` to opt-out of the enforcement.
# Docs: https://bazel.build/reference/command-line-reference#flag--sandbox_default_allow_network
build --sandbox_default_allow_network=false

# Do not upload locally executed action results to the remote cache.
# This should be the default for local builds so local builds cannot poison the remote cache.
# It should be flipped to `--remote_upload_local_results` on CI
# by using `--bazelrc=.aspect/bazelrc/ci.bazelrc`.
# Docs: https://bazel.build/reference/command-line-reference#flag--remote_upload_local_results
build --noremote_upload_local_results

# Prevent Python packages installed in user site-packages outside of Bazel from being used under Bazel
common --host_action_env=PYTHONNOUSERSITE=1 --action_env=PYTHONNOUSERSITE=1 --test_env=PYTHONNOUSERSITE=1

# Make sure rules_proto keep working with Bazel 8
common --noincompatible_disallow_ctx_resolve_tools

# Don't load native rules
common --incompatible_disable_autoloads_in_main_repo
