# keep-sorted start
bazel-runfiles>=1.8.3
click>=8.2.1
humanize>=4.15.0
hypothesis>=6.150.3
lz4>=4.4.5
nanobind>=2.2.0
numpy>=1.26.4,<2
protobuf>=6.33.5
pydantic>=2.9.2
pytest>=8.3.5
requests>=2.32.5
rich>=13.9.4
typing-extensions>=4.15.0
uv>=0.10.8
zstandard>=0.25.0
# keep-sorted end
